<main id="main-editor">
	<title-bar
		:note="selectedNote"
		:bookmark="selectedBookmark"
		:selected-rack="selectedRack"
		:selected-folder="selectedFolder"
		:toggle-full-screen="toggleFullScreen"
		:toggle-toolbar="toggleToolbar"
		:open-sync="openSync"
		:move-sync="moveSync"
		:open-about="openAbout"
		:is-full-screen="isFullScreen"
		:is-toolbar-enabled="isToolbarEnabled"
		:selected-theme="selectedTheme"
		:change-theme="changeTheme"
		:notes-display-order="notesDisplayOrder"
		:change-display-order="changeDisplayOrder">
	</title-bar>
	<div class="my-main" :class="{'note_selected': isNoteSelected }">
		<div :class="{'outer_wrapper': true}">
			<div class="sidebar">
				<div v-show="loadedRack" class="cell-container" ref="sidebarFolders">
					<div class="my-shelf" @contextmenu="shelfMenu()">
						<div class="my-shelf-wrapper">
							<racks
								:racks="racks"
								:selected-folder="selectedFolder"
								:dragging-note="draggingNote"
								:change-rack="changeRack"
								:change-folder="changeFolder"
								:editing-rack="editingRack"
								:editing-folder="editingFolder"
								:dragging-rack="draggingRack"
								:dragging-folder="draggingFolder"
								ref="refRacks">
							</racks>
						</div>
					</div>
				</div>
				<handler-stack
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleStack">
				</handler-stack>
				<div v-show="selectedFolder" class="cell-container" ref="sidebarNotes">
					<add-note v-if="selectedFolder"
						:notes-list="isNoteRackSelected"
						:selected-folder="selectedFolder"
						:selected-rack="selectedRack">
					</add-note>
					<div class="my-shelf-notes" :class="{ 'folder-selected': selectedFolder }" ref="refNotes">
						<notes
							:bookmarks-list="!isNoteRackSelected"
							:notes="filteredNotes"
							:toggle-full-screen="toggleFullScreen"
							:original-notes="notes"
							:selected-note="selectedNote"
							:selected-rack="selectedRack"
							:selected-folder="selectedFolder"
							:dragging-note="draggingNote"
							:change-note="changeNote"
							:set-dragging-note="setDraggingNote"
							:notes-display-order="notesDisplayOrder"
							:refresh-bookmark-thumb="refreshBookmarkThumb"
							:refresh-favicon="refreshFavicon"
							:get-bookmark-meta-image="getBookmarkMetaImage"
							:edit-bookmark="editBookmark"
							:loading-uid="loadingUid">
						</notes>
					</div>
				</div>
				<handler-notes
					v-show="selectedFolder"
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleNote">
				</handler-notes>
			</div>
			<div class="cell-container main-cell-container" :class="mainCellClass" style="margin-left:360px;">
				<tabs-bar
					:current-note="selectedNote"
					:tabs-array="noteTabs"
				></tabs-bar>
				<div v-if="isNoteSelected || isOutlineSelected" class="main-note-container">
					<note-menu
						:note="selectedNote"
						:is-full-screen="isFullScreen"
						:is-toolbar-enabled="isToolbarEnabled"
						:is-note-selected="isNoteSelected"
						:is-outline-selected="isOutlineSelected"
						:is-preview="isPreview"
						:fontsize="fontsize"
						:toggle-preview="togglePreview"
						:note-headings="noteHeadings"
						:send-flash-message="sendFlashMessage">
					</note-menu>
					<div class="my-editor" ref="myEditor">
						<template v-if="isOutlineSelected">
							<outline :outline-note="selectedNote"></outline>
						</template>
						<template v-else>
							<codemirror
								v-show="!isPreview && isNoteSelected"
								:note="selectedNote"
								:is-full-screen="isFullScreen"
								:is-preview="isPreview"
								:toggle-preview="togglePreview"
								:search="search"
								ref="refCodeMirror">
							</codemirror>
							<div v-show="isPreview && isNoteSelected" class="my-editor-preview" @contextmenu.prevent.stop="previewMenu()">
								<div v-html="preview">
								</div>
							</div>
						</template>
					</div>
					<note-footer
						v-if="!isOutlineSelected"
						v-show="!isPreview && isToolbarEnabled"
						ref="refNoteFooter">
					</note-footer>
				</div>
				<div v-else-if="!selectedNote && !selectedBookmark">
					<div class="my-splash-page">
						<welcome-splash
							:keep-history="keepHistory"
							:notes="notesHistory"
							:loaded-everything="loadedEverything">
						</welcome-splash>
					</div>
				</div>
				<div v-show="selectedBookmark" class="my-internal-browser">
					<browser
						:bookmark="selectedBookmark"
						:bookmarks-domains="bookmarksDomains"
						:send-flash-message="sendFlashMessage"
						ref="refBrowser">
					</browser>
				</div>
				<flashmessage :messages="messages"></flashmessage>
			</div>
		</div>
	</div>
	<modal ref="dialog"></modal>
</main>