<main id="main-editor">
	<title-bar
		:note="selectedNote"
		:selected-rack="selectedRack"
		:selected-folder="selectedFolder"
		:toggle-full-screen="toggleFullScreen"
		:toggle-toolbar="toggleToolbar"
		:open-sync="openSync"
		:move-sync="moveSync"
		:open-about="openAbout"
		:is-full-screen="isFullScreen"
		:is-toolbar-enabled="isToolbarEnabled"
		:selected-theme="selectedTheme"
		:change-theme="changeTheme"
		:notes-display-order="notesDisplayOrder"
		:change-display-order="changeDisplayOrder">
	</title-bar>
	<div class="my-main">
		<div class="outer_wrapper">
			<div class="sidebar">
				<div v-show="loadedRack" class="cell-container" ref="sidebarFolders" @contextmenu="shelfMenu()">
					<racks
						:racks="racks"
						:selected-rack="selectedRack"
						:show-all="showAll"
						:show-favorites="showFavorites"
						:selected-folder="selectedFolder"
						:dragging-note="draggingNote"
						:change-rack="changeRack"
						:change-folder="changeFolder"
						:editing-rack="editingRack"
						:editing-folder="editingFolder"
						:dragging-rack="draggingRack"
						:dragging-folder="draggingFolder"
						:search="search"
						ref="refRacks">
					</racks>
				</div>
				<handler-stack
					v-show="loadedRack"
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleStack">
				</handler-stack>
				<div v-show="selectedFolder || showAll || showFavorites" class="cell-container" ref="sidebarNotes">
					<add-note
						v-show="selectedFolder"
						:selected-folder="selectedFolder"
						:selected-rack="selectedRack">
					</add-note>
					<div class="my-shelf-notes" :class="{ 'all-notes': showAll, 'favorite-notes': showFavorites }" ref="refNotes">
						<notes
							:notes="filteredNotes"
							:toggle-full-screen="toggleFullScreen"
							:original-notes="notes"
							:selected-note="selectedNote"
							:selected-rack="selectedRack"
							:selected-folder="selectedFolder"
							:dragging-note="draggingNote"
							:change-note="changeNote"
							:set-dragging-note="setDraggingNote"
							:notes-display-order="notesDisplayOrder">
						</notes>
					</div>
				</div>
				<handler-notes
					v-show="selectedFolder"
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleNote">
				</handler-notes>
			</div>
			<div class="cell-container main-cell-container" :class="mainCellClass">
				<tabs-bar
					:current-note="selectedNote"
					:tabs-array="noteTabs"
				></tabs-bar>
				<div v-if="isNoteSelected || isOutlineSelected" class="main-note-container">
					<note-menu
						:note="selectedNote"
						:is-full-screen="isFullScreen"
						:is-toolbar-enabled="isToolbarEnabled"
						:is-note-selected="isNoteSelected"
						:is-outline-selected="isOutlineSelected"
						:is-preview="isPreview"
						:fontsize="fontsize"
						:toggle-preview="togglePreview"
						:note-headings="noteHeadings"
						:send-flash-message="sendFlashMessage">
					</note-menu>
					<div class="my-editor" ref="myEditor">
						<outline
							v-if="isOutlineSelected"
							:outline-note="selectedNote">
						</outline>
						<template v-else>
							<codemirror
								v-show="!isPreview && isNoteSelected"
								:note="selectedNote"
								:is-full-screen="isFullScreen"
								:is-preview="isPreview"
								:toggle-preview="togglePreview"
								:search="search"
								ref="refCodeMirror">
							</codemirror>
							<div v-show="isPreview && isNoteSelected" class="my-editor-preview" @contextmenu.prevent.stop="previewMenu()">
								<div v-html="preview">
								</div>
							</div>
						</template>
					</div>
					<note-footer
						v-if="!isOutlineSelected"
						v-show="!isPreview && isToolbarEnabled"
						ref="refNoteFooter">
					</note-footer>
				</div>
				<div v-else-if="!selectedNote">
					<div class="my-splash-page">
						<div v-show="!loadedEverything">
							<div class="splash-box small">
								<div class="load7">
									<div class="loader"></div>
								</div>
							</div>
						</div>
						<welcome-splash
							:keep-history="keepHistory"
							:notes="notesHistory"
							:loaded-everything="loadedEverything">
						</welcome-splash>
					</div>
				</div>
				<flashmessage :messages="messages"></flashmessage>
			</div>
		</div>
	</div>
	<modal ref="dialog"></modal>
</main>