# Pycharm
.idea/

# node

node_modules/

# front dist
dist/js/app.js
dist/app.js
dist/background.js
dist/bbrowser.js

# What a shame. it's OSX
.DS_Store

releases/
build/

MYREADME.md
mv_to_opt.sh
package-lock.json
