<div>
	<div class="my-shelf-rack" v-for="rack in racksWithFolders"
			:class="{'sortUpper': rack.sortUpper, 'sortLower': rack.sortLower, 'openFolders' : rack.openFolders }"
			:draggable="editingFolder === null && editingRack === null ? 'true' : 'false'"
			@dragstart.stop="rackDragStart($event, rack)"
			@dragend.stop="rackDragEnd()"
			@dragover="rackDragOver($event, rack)"
			@dragleave.stop="rackDragLeave(rack)"
			@drop.stop="dropToRack($event, rack)"
			@contextmenu.prevent.stop="rackMenu(rack)">
		<h4 @click.prevent.stop="selectRack(rack)" :class="{'isShelfSelected': (isSelectedRack(rack) && !isDraggingNote() && rack.openFolders) || rack.dragHover }">
			<i class="material-icons rack-icon closed-icon">label</i>
			<i class="material-icons rack-icon opened-icon">label_outline</i>
			<a v-if="editingRack != rack">{{ rack.name }}</a>
			<input v-if="editingRack == rack" v-model="rack.name"
				v-focus="editingRack == rack"
				@blur="doneRackEdit(rack)"
				@keyup.enter="doneRackEdit(rack)"
				@keyup.esc="doneRackEdit(rack)"/>
		</h4>
		<!-- Folder -->
		<div :class="{'isShelfSelected': (isSelectedFolder(folder) && !isDraggingNote()) || folder.dragHover,
				'openNotes' : folder.openNotes,
				'noteDragging': isDraggingNote(),
				'noteIsHere': !isDraggingNote() && selectedNote.folderUid == folder.uid,
				'sortUpper': folder.sortUpper,
				'sortLower': folder.sortLower}"
				class="my-shelf-folder" v-for="folder in rack.folders"
				:draggable="editingFolder === null && editingRack === null ? 'true' : 'false'"
				@dragstart.stop="folderDragStart($event, rack, folder)"
				@dragend.stop="folderDragEnd(folder)"
				@dragover.stop="folderDragOver($event, rack, folder)"
				@dragleave="folderDragLeave(folder)"
				@drop="dropToFolder($event, rack, folder)"
				@contextmenu.prevent.stop="folderMenu(rack, folder)">
			<h5 @click.prevent.stop="selectFolder(folder)">
				<i class="material-icons">folder</i>
				<a v-if="editingFolder != folder" class="my-shelf-folder-name">
					{{ folder.name }}
					<span class="my-shelf-folder-badge" v-show="folder.notes.length > 0">{{ folder.notes.length }}</span>
				</a>
				<input v-if="editingFolder == folder" v-model="folder.name"
					v-focus="editingFolder == folder"
					@blur="doneFolderEdit(rack, folder)"
					@keyup.enter="doneFolderEdit(rack, folder)"
					@keyup.esc="doneFolderEdit(rack, folder)"/>
			</h5>
		</div>
	</div>
</div>