<div class="my-shelf-rack" v-for="rack in racksWithFolders | orderBy 'ordering'"
		:class="{'sortUpper': rack.sortUpper, 'sortLower': rack.sortLower, 'openFolders' : rack.openFolders}"
		:draggable="editingFolder === null && editingRack === null ? 'true' : 'false'"
		@dragstart.stop="rackDragStart($event, rack)"
		@dragend.stop="rackDragEnd()"
		@dragover="rackDragOver($event, rack)"
		@dragleave.stop="rackDragLeave(rack)"
		@drop.stop="dropToRack($event, rack)"
		@contextmenu.prevent.stop="rackMenu(rack)">
	<h4 @click.prevent.stop="selectRack(rack)" :class="{'isShelfSelected': (isSelectedRack(rack) && !isDraggingNote()) || rack.dragHover || (selectedNote && selectedNote.isRack(rack) && !isDraggingNote())}">
		<i v-if="!rack.openFolders" @click.prevent.stop="openRack(rack)" class="material-icons rack-icon">label</i>
		<i v-if="rack.openFolders" @click.prevent.stop="closeRack(rack)" class="material-icons rack-icon">label_outline</i>
		<a v-if="editingRack != rack">{{ rack.name }}</a>
		<input v-if="editingRack == rack" v-model="rack.name"
			v-focus="editingRack == rack"
			@blur="doneRackEdit(rack)"
			@keyup.enter="doneRackEdit(rack)"
			@keyup.esc="doneRackEdit(rack)"/>
	</h4>
	<!-- Folder -->
	<div :class="{'isShelfSelected': (isSelectedFolder(folder) && !isDraggingNote()) ||
			folder.dragHover || (selectedNote && selectedNote.isFolder(folder) && !isDraggingNote()),
			'openNotes' : folder.openNotes,
			'noteDragging': isDraggingNote(),
			'noteIsHere': !isDraggingNote() && selectedNote.folderUid == folder.uid,
			'sortUpper': folder.sortUpper,
			'sortLower': folder.sortLower}"
			class="my-shelf-folder" v-for="folder in rack.folders | orderBy 'ordering'"
			:draggable="editingFolder === null && editingRack === null ? 'true' : 'false'"
			@dragstart.stop="folderDragStart($event, rack, folder)"
			@dragend.stop="folderDragEnd(folder)"
			@dragover="folderDragOver($event, rack, folder)"
			@dragleave="folderDragLeave(folder)"
			@drop="dropToFolder($event, rack, folder)"
			@contextmenu.prevent.stop="folderMenu(rack, folder)">
		<h5 @click.prevent.stop="selectFolder(folder)">
			<i v-if="!folder.openNotes" @click.prevent.stop="openFolder(folder)" class="material-icons">folder</i>
			<i v-if="folder.openNotes" @click.prevent.stop="closeFolder(folder)" class="material-icons">folder_open</i>
			<a v-if="editingFolder != folder" class="my-shelf-folder-name">{{ folder.name }}</a>
			<input v-if="editingFolder == folder" v-model="folder.name"
				v-focus="editingFolder == folder"
				@blur="doneFolderEdit(rack, folder)"
				@keyup.enter="doneFolderEdit(rack, folder)"
				@keyup.esc="doneFolderEdit(rack, folder)"/>
		</h5>

		<notes v-if="!draggingFolder"
			:notes="filterNotesByFolder(folder)"
			:toggle-full-screen="toggleFullScreen"
			:original-notes.sync="notes"
			:selected-note.sync="selectedNote"
			:dragging-note.sync="draggingNote">
		</notes>

	</div>
</div>
