<nav id="cssmenu">
	<ul>
		<li>
			<a @click="$root.addNote()" href="#">
				<span>
					<i class="material-icons">note_add</i>
					New Note
				</span>
			</a>
		</li>
		<li>
			<a @click="$root.toggleFullScreen()" href="#">
				<span>
					<i class="material-icons">input</i>
					Sidebar
				</span>
			</a>
		</li>
		<li v-if="$root.selectedNote.data">
			<a @click="$root.toggleProperties()" href="#">
				<span>
					<i class="material-icons rotate">input</i>
					Properties
				</span>
			</a>
		</li>
		
		<li v-if="$root.selectedNote.data">
			<a @click="menu_preview()" href="#">
				<span v-if="!$root.isPreview">
					<i class="material-icons">visibility</i>
					Preview
				</span>
				<span v-if="$root.isPreview">
					<i class="material-icons">visibility_off</i>
					Preview
				</span>
			</a>
		</li>
		<li>
			<div>
				<i class="material-icons">search</i>
				<input v-model="search" class="my-search" type="search" id="search-bar" placeholder="Search notes..." />
			</div>
		</li>
		<li class="has-sub right-align">
			<a href="#" class="menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<ul>
				<li>
					<a @click="$root.addNote()" href="#">
						New Note
					</a>
				</li>
				<li>
					<a @click="$root.openSync()" href="#">
						Open Existing Sync Folder
					</a>
				</li>
				<li>
					<a @click="$root.moveSync()" href="#">
						Move Sync Folder
					</a>
				</li>
				<li>
					<a @click="menu_devTools()" href="#">
						Open DevTools
					</a>
				</li>
				<li>
					<a @click="$root.openCredits()" href="#">
						Credits
					</a>
				</li>
				<li>
					<a @click="$root.menu_close()" href="#">
						Quit
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>