.my-separator {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    float: left;
}
.my-separator-date {
    color: #909090;
    margin-left: 0.5em;
    line-height: 1.5em;
    cursor: default;
}
.my-notes-note {
    position: relative;

    background-color: #373737;
    color: #989898;
    border-radius: 2px;

    display: inline-block;
    vertical-align: top;

    margin: 0.4em;
    width: 10.4em;
    min-height: 9.2em;
    padding: 0.6em;
    overflow-x: hidden;
    line-height: 1.2;
    -webkit-user-select: none;
    transition: background-color 200ms ease,
                margin 200ms ease;
}

.my-notes-note > div{
    font-size: 80%;
    max-height: 9.1em;
    overflow: hidden;
}

.my-notes-note img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.my-notes-note.my-notes-note-selected img {
    opacity: 1;
}

h5.my-notes-note-title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    color: inherit;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.my-notes-note.my-notes-note-selected {
    background-color: #d8d8d8;
    color: #444;
}
.my-notes-note.my-notes-note-selected.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}
.my-notes-note-text {
    white-space: pre-line;
    max-height: 110px;
    overflow-y: hidden;
    word-wrap: break-word;
}
.my-notes-note:hover {
    background-color: #FAFAFA !important;
    color: #444;
    cursor: pointer;
}
.my-notes-note:hover.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}