<div class="my-notes" id="ln-fullscreen">
	<div v-for="note in notes | dateSeparated notesDisplayOrder" track-by="uid"
		@click="selectNote(note)"
		@dblclick="selectNoteAndWide(note)"
		@contextmenu.prevent.stop="noteMenu(note)"
		@dragstart="noteDragStart($event, note)"
		@dragend="noteDragEnd()"
		:class="{'my-notes-note-selected': selectedNote === note}"
		draggable="true"
		class="my-notes-note">
		<h5 v-if="note.title" class="my-notes-note-title">
			<i class="material-icons">description</i>
			{{ note.title }}
		</h5>
	</div>
</div>