.my-notes {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-user-select: none;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: scroll;
}
.my-separator {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    white-space: normal;
}
.my-separator-date {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    padding: 0.2em 0;
    line-height: 1em;
    cursor: default;
    font-size: 12px;
    font-weight: normal;
    color: #858585;
}
.my-notes-note {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 0.4em;
    color: #adadad;
    line-height: 1.2;
    -webkit-user-select: none;
    transition: background-color 200ms ease, margin 200ms ease, height 200ms ease;
    font-weight: normal;
    box-sizing: border-box;
    border-top: 1px solid #242c36;
    border-bottom: 1px solid #333;
    overflow: hidden;
}

.my-notes-note > div{
    font-size: 80%;
    max-height: 9.1em;
    overflow: hidden;
}

.my-notes-note img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.my-notes-note.my-notes-note-selected img {
    opacity: 1;
}
/*.my-notes-note.my-notes-note-selected:after{
    content: "";
    position: absolute;
    right: 0;
    top: calc( 50% - 1em );
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.8em 0.8em 0.8em 0;
    border-color: transparent #dedede transparent transparent;
}*/
h5.my-notes-note-title {
    margin: 0;
    padding: 0;
    padding-left: 1.4em;
    color: inherit;
    position: relative;
    line-height: 1.4em;
}
h5.my-notes-note-title i{
    position: absolute;
    top: 0.1em;
    left: 0;
    margin: 0;
    font-size: 16px;
}
.my-notes-note-date{
    color: #555753;
    padding-left: 1.4em;
    margin-top: .5em;
}
.my-notes-note-image,
.my-notes-note-body {
    color: #858585;
    margin-top: .2em;
    padding-left: 1.4em;
    line-height: 1.4em;
}
.my-notes-note.my-notes-note-selected {
    border-top: 1px solid #171c23;
    border-bottom: 1px solid #313842;
    background-color: #1d242c;
    color: #FFF;
    position: relative;
}
.my-notes-note.my-notes-note-selected.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}
.my-notes-note:hover {
    border-top: 1px solid #171c23;
    border-bottom: 1px solid #313842;
    background-color: #1d242c !important;
    color: #BBB;
    cursor: pointer;
}
.my-notes-note:hover.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}
.my-notes-note > .my-notes-note-body {
    max-height: 4.2em;
}