<div class="my-notes" id="ln-fullscreen">
	<div v-for="note in notes | dateSeparated notesDisplayOrder" track-by="uid"
		@click="selectNote(note)"
		@dblclick="selectNoteAndWide(note)"
		@contextmenu.prevent.stop="noteMenu(note)"
		@dragstart.stop="noteDragStart($event, note)"
		@dragend.stop="noteDragEnd()"
		:class="{'my-notes-note-selected': selectedNote === note}"
		draggable="true"
		class="my-notes-note">
		<h5 v-if="note.title" class="my-notes-note-title">
			<i class="material-icons">description</i>
			{{ note.title }}
		</h5>
		<!--div class="my-notes-note-date">
			{{ note.data.updated_at.format('MMM DD, YYYY') }}
		</div-->
		<div class="my-notes-note-image" v-if="note.img">
			<img :src="note.img"/>
		</div>
		<div class="my-notes-note-body" v-if="!note.img && note.body.length != 0">
			{{ note.bodyWithoutTitle | truncate 80 }}
		</div>
	</div>
</div>