.my-main {
	width: 100%;
	height: calc( 100vh - 2px - #{$title-bar-height} - #{$system-bar-height} );
	display: flex;
	flex-flow: row nowrap;
}

.my-main.note_selected{
	background: $body-background-note;
}

.outer_wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;

	.cell-container {
		height: calc( 100vh - 2px - #{$title-bar-height} - #{$system-bar-height} );
		vertical-align: top;
	}

	.my-scrollbar {
		max-height: calc( 100vh - 2px - #{$title-bar-height} - #{$system-bar-height} );
		background-color: transparent;
	}

	.my-scrollbar-notes {
		max-height: calc( 100vh - 2px - #{$title-bar-height} - #{$system-bar-height} - 3.5em );
	}

	.cell-container.main-cell-container{
		position: relative;
		margin-left: 0;
		transition: margin 400ms;

		.my-editor > div {
			margin-left: 1em;
			margin-right: 1em;
		}
	}

	.sidebar {
		position: absolute;
		top: 0;
		z-index: 10;
		background: $main-background-color;

		.cell-container {
			float: left;
		}
	}

	.sidebar {
		left: 0;
		transition: left 400ms;
	}

	.sidebar:after {
		content: "";
		clear: both;
	}

	.resize-handler {
		float: left;
		background: $resize-panel-handler;
		height: calc( 100vh - 2.5em );
		width: 5px;
		cursor: col-resize;
	}

	.my-editor {
		height: 100%;
	    width: auto;
	    margin: 0 auto;
	    overflow-y: scroll;
	    position: relative;
	}
}