.my-browser {
	padding: 0;
	margin: 0;
	max-width: initial;
	background-color: $body-background-color;
	border: none;

	webview {
		min-height: calc( 100vh - 2px - #{$title-bar-height} - #{$title-bar-height} - #{$system-bar-height} );
		height: 100%;
		width: 100%;
		border: none;
		outline: none;
	}

	@keyframes spin { 100% { transform: rotate(-360deg); } }

	.browser-bar {
		height: $title-bar-height;
		width: 100%;
		-webkit-app-region: no-drag;
		padding: 0;
		margin: 0;
		border: none;
		color: $ui-text-color;
		overflow: visible;
		position: relative;
		z-index: 10;

		nav {
			height: 100%;
		}

		span.favicon {
			display: inline-block;
			vertical-align: top;
			margin-right: 0.3em;
			width: 1.4em;

			i {
				font-size: 1.5em;
				vertical-align: middle;
				animation: spin 4s linear infinite;
			}

			img {
				height: 1em;
				vertical-align: middle;
			}
		}
	}

	nav ul {
		background-color: #000;
		-webkit-font-smoothing: antialiased;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;

		li {
			float: none;
		}

		li.spacer {
			flex-grow: 1;

			input {
				width: 90%;
			}
		}
	}
}