codemirror {
	display: block;
}

.CodeMirror {
	text-rendering: optimizeSpeed;
	background-color: $note-background-color;
	background-image: url('../images/notelines.png');
	background-size: 22px;
	background-position: 1em 1.9em;
}

.CodeMirror{
	padding-top: 3.8em;

	span.cm-piled-header,
	span.cm-piled-code,
	span.cm-piled-quote,
	span.cm-piled-list1,
	span.cm-piled-list2,
	span.cm-piled-list3,
	span.cm-piled-hr,
	span.cm-piled-image,
	span.cm-piled-formatting,
	span.cm-piled-link-inline,
	span.cm-piled-link-email,
	span.cm-piled-link-text,
	span.cm-piled-link-href,
	span.cm-piled-em,
	span.cm-piledstrong,
	span.cm-piled-strikethrough {
	}

	span.cm-comment,
	span.cm-atom,
	span.cm-number,
	span.cm-property,
	span.cm-attribute,
	span.cm-keyword,
	span.cm-string,
	span.cm-variable,
	span.cm-variable-2,
	span.cm-def,
	span.cm-bracket,
	span.cm-tag,
	span.cm-link,
	span.cm-error {
	}

	.cm-piled-em {font-style: italic;}
	.cm-piled-strikethrough {text-decoration: line-through;}

	pre.CodeMirror-placeholder {
		color: rgba(153, 153, 153, 0.8);
	}

	span.cm-piled-list1,
	span.cm-piled-list2,
	span.cm-piled-list3 {
		color: #333;
	}
	span.cm-piled-formatting-list-ul,
	span.cm-piled-formatting-list-ol {
		font-weight: bold;
		color: #777 !important;
	}
	span.cm-piled-formatting-task {
		font-weight: 600;
		font-family: monospace;
	}

	span.cm-meta {
		font-style: normal;
	}

	span.cm-string {
		color: #DD1144;
	}

	span.cm-variable-2 {
		color: #121289;
	}

	span.cm-keyword {
		color: #708;
		font-weight: bold;
	}

	span.cm-def {
		color: #458;
		font-weight: bold;
	}

	span.cm-piled-code, code {
		color: #0A3ABF;
	}

	pre > code{
		display: block;
		line-height: 0;
		width: 100%;
	}

	span.cm-piled-image {
		font-weight: 800;
		font-family: monospace;
	}

	.cm-piled-quote {
		color: #777;
	}

	.cm-piled-link,
	.cm-piled-link-href:not(.cm-piled-formatting) {
		color: #0000ee;
		text-decoration: underline;
	}

	.cm-piled-link-text {
		font-weight: 800;
		font-family: monospace;
	}
}

.CodeMirror-scroll {
	overflow: hidden !important;
	margin: 0;
	width: auto;
	min-height: 100%;
	height: auto;
}

.CodeMirror-sizer {
	margin-bottom: 0 !important;
	border-right-width: 0 !important;
}

.CodeMirror-vscrollbar {
	display: none !important;
}

.CodeMirror-focused .CodeMirror-selected { background: #add5ff; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #add5ff; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #add5ff; }

/* Search dialog */

.CodeMirror-dialog.CodeMirror-dialog-bottom {
	position: absolute;
	top: 0;
	background-color: #444444;
	color: #F1F1F1;
	width: 100%;
	margin-left: -4vw;
	margin-right: -4vw;
	border-bottom: solid 1px #333333;
	padding: 0.6em;
	z-index: 5;
}

.CodeMirror-search-field {
	border-radius: 4px;
	width: 220px;
}

.CodeMirror-dialog button {
	background-color: #fafafa;
	border: solid 1px #eaeaea;
	margin-right: 4px;
}
.CodeMirror-dialog button:hover {
	background-color: #eeeeee;
}
