.flashmessage-list {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;

	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: 100;
	background-color: $main-background-color;
}

.flashmessage-message {
	color: $ui-text-color;
	padding: 0.5em;
	margin: 0.5em;
	transition: all 0.3s ease;
	vertical-align: middle;
	overflow-y: hidden;

	a {
		color: inherit;
		background-color: transparent;
	}
}

.flashmessage-message:hover{
	color: $ui-text-color-hover;
}

.flashmessage-message-enter, .flashmessage-message-leave-active {
	color: transparent;
	padding: 0 8px 0 8px;
	height: 0;
}

.flashmessage-info {
	background-color: rgba(74, 122, 136, 0.5);
}

.flashmessage-error {
	background-color: rgba(200, 100, 100, 0.5);
}
