.my-shelf-racks {
	cursor: default;
}

.my-shelf {
	color: $sidebar-color;

	font-weight: 200;
	width: auto;
	height: 100%;

	overflow-y: scroll;
	white-space: nowrap;
}

.my-shelf-rack {
	position: relative;
	padding: 0;
	margin: 0;

	.rack-object,
	.folder-object {
		position: relative;
		color: $sidebar-color;
		text-align: left;
		font-size: 110%;
		line-height: 1.4em;

		cursor: pointer;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		-webkit-user-select: none;

		input {
			width: 80%;
			font-size: inherit;
			padding: 0;
			margin: 0;
			background: transparent;
			color: $sidebar-color;
			outline: none;
			border: 0;
		}
	}

	.rack-object a {
		display: inline-block;
	}

	i.material-icons.down {
		position: absolute;
		left: 0;
		top: 0.5em;
		display: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 1em;
		height: 1em;
		font-size: 100%;
		line-height: 1em;
		outline: none;
		transition: transform .4s;
	}

	.rack-object {
		font-weight: bold;
		margin: 0.3em 0;
		padding: 0.3em 0 0.3em 1em;
		border-bottom: 1px solid $folder-separator;
		opacity: 0.9;

		i.material-icons.down {
			top: 0.45em;
		}

		input {
			font-weight: bold;
		}
	}

	.folder-object {
		margin: 0.1em 0;
		padding: 0.3em 0 0.3em 1em;
		font-weight: normal;
		border-radius: $folder-list-border-radius;

		transition: background-color 200ms;
	}

	.rack-icon {
		font-size: 100%;
		margin-right: 0.2em;
		vertical-align: middle;
		color: $sidebar-color;
		opacity: 0.8;
		z-index: 1;
	}
}

.my-shelf-folder-badge {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: $folder-badge-color;
	font-size: 80%;
	line-height: 1.4em;
	padding: 0 0.2em 0 0.3em;
	min-width: 1.4em;
	margin: -0.1em 0 0 0.3em;
	opacity: 0.6;
}

.my-shelf-folder-badge:before {
	content: "";
	position: absolute;
	background-color: $folder-badge-background;
	height: 1.4em;
	border-radius: 10em;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
}

.my-shelf-folder.isShelfSelected {
	display: block;
}

.my-shelf-folders {
	height: 100%;
}

.my-shelf-folders .my-shelf-folders {
	background-color: rgba(0,0,0,0.05);
	padding-left: 1em;
}

.my-shelf-rack .my-shelf-folders {
	padding-left: 1em;
}

.my-shelf-folders {
	display: none;
}

.my-shelf-folder {
	i {
		font-size: 100%;
		margin-top: -0.1em;
		margin-right: 0.1em;
		vertical-align: middle;
	}

	.my-shelf-folder-name {
		width: 100%;
		font-weight: normal;
	}

	.my-shelf-folder-name.no-name {
		opacity: 0.8;
	}

	span input {
		width: 48px;
		outline: none;
	}
}

.my-shelf-rack.gotSubfolders > .rack-object,
.my-shelf-folder.gotSubfolders > .folder-object {
	i.material-icons.down {
		display: inline-block;
		transform: rotate(-90deg);
	}
}

.my-shelf-folder.openFolder {
	> .my-shelf-folders {
		display: block;
	}

	> .folder-object {
		i.material-icons.down {
			transform: rotate(0deg);
		}
	}
}

.my-shelf-rack.openFolder {
	> .my-shelf-folders {
		display: block;
	}

	> .rack-object {
		i.material-icons.down {
			transform: rotate(0deg);
		}
	}
}

.new-folder {
	padding: 0.2em 0 0;
	height: 3.5em;

	.my-shelf-folder {
		border: 1px dashed $sidebar-color;
		color: $sidebar-color;
		background: transparent;
		position: static;
		margin: 0.3em;
		padding: 0.4em;
		border-radius: 0.2em;

		.folder-object {
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 1em;
		}

		i {
			font-size: 24px;
			line-height: 1em;
			vertical-align: middle;
			margin-top: -0.2em;
		}
	}

	.my-shelf-folder-name {
		display: block;
		padding-top: 0.3em;
	}

	.my-shelf-folder:hover {
		border: 1px dashed $sidebar-color;
		background-color: $note-list-background-hover;
		color: $note-list-text-color-hover;
	}
}

.my-shelf-folder:hover > .folder-object {
	color: $ui-text-color-hover;
}

.my-shelf-folder.isShelfSelected > .folder-object {
	color: $folder-selected-color;
}

.my-shelf-folder .folder-object:hover {
	background-color: $folder-hover-background;
	color: $folder-selected-color;
}

.my-shelf-folder.isShelfSelected > .folder-object {
	background-color: $folder-selected-background;
	color: $folder-selected-color;
	opacity: 1.0;
}

.my-shelf-rack.sortUpper:after,
.my-shelf-folder.sortUpper:after {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: $folder-dragdrop-separator;
}

.my-shelf-rack.sortLower:after,
.my-shelf-folder.sortLower:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: $folder-dragdrop-separator;
}

.my-shelf-folder.noteDragging {
	color: #fefefe;
}

.my-shelf-racks.dragginRack, .my-shelf-racks.dragginFolder {
	.rack-object {
		margin: -0.3em 0 0.3em;
		padding: 0.6em 0 0.3em 1em;
	}

	.rack-object i.material-icons.down {
		top: 0.7em
	}

	.my-shelf-rack:first-child {
		.rack-object {
			margin-top: 0;
		}
	}
}
