.my-shelf-racks {
	padding-bottom: 2em;
	cursor: default;
}

.my-shelf {
	color: $sidebar-color;

	font-weight: 200;
	width: auto;
	height: 100%;

	overflow-y: scroll;
	white-space: nowrap;
}

.my-shelf-rack {
	position: relative;
	padding: 0;
	margin: 0;

	h4,
	h5 {
		color: $sidebar-color;
		margin: 0 auto;
		padding: 0.3em 0.1em;
		font-weight: normal;
		font-size: 110%;
		border-radius: $folder-list-border-radius;
		white-space: initial;
		word-wrap: break-word;

		-webkit-user-select: none;
		transition: background-color 200ms;

		input {
			width: 80%;
		}
	}

	h4 {
		font-weight: bold;
		position: relative;
		background-color: $rack-background;
		margin: 0.6em;
		padding: 0;
		width: 3.5em;
		height: 3.5em;
		text-align: center;
		border-radius: 2em;
		line-height: 3.7em;

		transition: border-radius 0.4s;
		border: 3px solid $rack-background;

		a {
			font-size: 150%;
		}

		i {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	h4:hover {
		border-radius: 1.5em;
	}

	.rack-icon, .bookmark-rack-icon {
		font-size: 100%;
		vertical-align: middle;
		color: $sidebar-color;
		opacity: 0.8;
		z-index: 1;
	}
}

.my-shelf-folder-badge {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: $folder-badge-color;
	font-size: 80%;
	line-height: 1.4em;
	padding: 0;
	min-width: 1.4em;
	margin: -0.1em 0 0 0.3em;
	opacity: 0.6;
}

.my-shelf-folder-badge:before {
	content: "";
	position: absolute;
	background-color: $folder-badge-background;
	width: 1.4em;
	height: 1.4em;
	border-radius: 10em;
	z-index: -1;
	top: 0;
	left: 0;
}

.my-shelf-folder.isShelfSelected {
	display: block;
}

.my-shelf-folders {
	height: 100%;
}

.my-shelf-folder {
	position: relative;

	i {
		font-size: 100%;
		margin-top: -0.1em;
		margin-right: 0.1em;
		vertical-align: middle;
	}

	.my-shelf-folder-name {
		width: 100%;
		white-space: initial;
		font-weight: normal;
	}

	span input {
		width: 48px;
		outline: none;
	}

	> h5 {
		position: relative;
		margin: 0.3em 0;
		padding: 0.3em 0 0.3em 0.3em;
		border-radius: $folder-list-border-radius;
		transition: background-color 200ms;
		font-size: 16px;
	}

	.my-shelf {
		color: $sidebar-color;
	
		height: auto;
		overflow-y: initial;
	}
}

.new-folder {
	padding: 0.2em 0 0;
	height: 3.5em;

	.my-shelf-folder {
		border: 1px dashed $sidebar-color;
		color: $sidebar-color;
		background: transparent;
		position: static;
		margin: 0.3em;
		padding: 0.4em;
		border-radius: 0.2em;

		h5 {
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 1em;
		}

		i {
			font-size: 24px;
			line-height: 1em;
			vertical-align: middle;
			margin-top: -0.2em;
		}
	}

	.my-shelf-folder-name {
		display: block;
		padding-top: 0.3em;
	}

	.my-shelf-folder:hover {
		border: 1px dashed $sidebar-color;
		background-color: $note-list-background-hover;
		color: $note-list-text-color-hover;
	}
}

.my-shelf-rack h4:hover .rack-icon,
.my-shelf-rack h4:hover .bookmark-rack-icon,
.my-shelf-folder:hover h5 {
	color: $ui-text-color-hover;
}

.my-shelf-folder.isShelfSelected h5,
.my-shelf-rack h4.isShelfSelected,
.my-shelf-rack h4.isShelfSelected .rack-icon,
.my-shelf-rack h4.isShelfSelected .bookmark-rack-icon {
	color: $folder-selected-color;
}

.my-shelf-rack h4:before {
	content: "";
	position: absolute;
	border-radius: 1em;
	width: 1.5em;
	height: 1.5em;
	bottom: -0.2em;
	left: -0.2em;
	z-index: 1;
	background-color: $sidebar-background;
	opacity: 0.9;
}

.my-shelf-rack h4.isShelfSelected:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -1.5em;
	border-radius: 1em;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	z-index: 1;
	background-color: $sidebar-color;
}

.my-shelf-folder h5:hover, .my-shelf-rack h4:hover {
	background-color: $folder-hover-background;
	color: $folder-selected-color;
	cursor: pointer;
}

.my-shelf-rack h4:hover {
	border-color: $folder-hover-background;
}

.my-shelf-folder.isShelfSelected h5,
.my-shelf-rack h4.isShelfSelected {
	background-color: $folder-selected-background;
	color: $folder-selected-color;
	cursor: pointer;
	opacity: 1.0;
}

.my-shelf-rack h4.isShelfSelected {
	border-color: $folder-selected-background;
}

.my-shelf-rack.sortUpper:after,
.my-shelf-folder.sortUpper:after {
	position: absolute;
	top: -1px;
	left: 0;
	width: 110px;
	height: 2px;
	content: "";
	background-color: $folder-dragdrop-separator;
}

.my-shelf-rack.sortLower:after,
.my-shelf-folder.sortLower:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 110px;
	height: 2px;
	content: "";
	background-color: $folder-dragdrop-separator;
}

.my-shelf-folder.noteDragging {
	color: #fefefe;
}

.my-shelf-rack .rack-separator {
	background-color: transparent;
	padding: 4px 0;

	div {
		background-color: $folder-separator;
		width: 100%;
		height: 1px;
	}
}

.my-shelf-rack .rack-separator:hover {
	background-color: transparent;
	cursor: move;

	div {
		background-color: $folder-selected-color;
	}
}

.my-shelf-racks.dragginRack, .my-shelf-racks.dragginFolder {
	.my-shelf-rack {
		margin-top: 0;
		margin-bottom: 0;
		paddiing-top: 0.2em;
		padding-bottom: 0.2em;
	}
}