.my-shelf-notes {
	width: auto;
	height: calc( 100% - 3.5em );

	overflow-y: scroll;
	white-space: nowrap;
}

.my-notes {
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em 0;
	-webkit-user-select: none;
	white-space: normal;
	text-align: left;

	.my-separator {
		width: 100%;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		white-space: normal;
	}

	.my-separator-date {
		margin-left: 0.5em;
		margin-bottom: 0.2em;
		padding: 0.2em 0;
		line-height: 1em;
		cursor: default;
		font-size: 12px;
		font-weight: normal;
		color: $ui-text-color-dim;
	}
	
	.my-notes-note {
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin: 0.3em;
		border-radius: $note-list-border-radius;
		padding: 0.4em;
		color: $note-list-text-color;
		background: $note-list-background;
		width: calc( 100% - 0.6em );
		line-height: 1.2;
		-webkit-user-select: none;
		transition: background 200ms ease, margin 200ms ease, height 200ms ease;
		font-weight: normal;
		box-sizing: border-box;

		> i.material-icons {
			font-size: 400%;
			width: 100%;
			text-align: center;
			height: 100%;
			line-height: 2.5em;
		}

		> div{
			font-size: 80%;
			max-height: 9.1em;
			overflow: hidden;
		}

		img {
			width: 100%;
			height: auto;
			opacity: 0.8;
		}

		h5.my-notes-note-title {
			margin: 0;
			padding: 0;
			padding-left: 1.4em;
			color: inherit;
			position: relative;
			line-height: 1.4em;

			i {
				position: absolute;
				top: 0.1em;
				left: 0;
				margin: 0;
				font-size: 120%;
			}

			i.right-icon {
				left: auto;
				right: 0;
				top: -0.07em;
				font-size: 160%;
			}
		}

		.my-notes-note-date{
			color: $note-list-body-color;
			padding-left: 1.4em;
			margin-top: .5em;
		}

		.my-notes-note-image,
		.my-notes-note-body {
			color: $note-list-body-color;
			margin-top: .2em;
			padding-left: 1.4em;
			line-height: 1.4em;
		}

		.my-notes-note-body {
			max-height: 4.2em;
		}
	}

	.my-notes-note.sortUpper:after {
		position: absolute;
		top: -4px;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		content: "";
		background-color: $folder-dragdrop-separator;
	}

	.my-notes-note.sortLower:after {
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		content: "";
		background-color: $folder-dragdrop-separator;
	}

	.my-notes-note.my-notes-note-selected.inFolderNote:after {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.my-notes-note:hover {
		background: $note-list-background-hover;
		color: $note-list-text-color-hover;
		cursor: pointer;
	}

	.my-notes-note:hover.inFolderNote:after {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.my-notes-note.my-notes-note-selected {
		background: $note-list-background-selected;
		color: $note-list-text-color-selected;
		position: relative;

		img {
			opacity: 1;
		}

		.my-notes-note-date,
		.my-notes-note-image,
		.my-notes-note-body {
			color: $note-list-body-color-selected;
		}
	}

	.my-notes-note.new-note {
		border: 1px dashed $ui-text-color-dim;
		color: $ui-text-color;
		background: transparent;
		position: static;

		> span, > span span {
			display: block;
			position: static;
		}
	}

	.my-notes-note.new-note:hover {
		border: 1px dashed $ui-text-color;
		background: $ui-text-background-hover;
		color: $ui-text-color-hover;
	}

	.my-dropdown-dd {
		z-index: 10;
	}

	.dialog ul {
		list-style: none;
		border: 1px solid $resize-panel-handler;
		background: $title-bar-background;
		margin: 0.2em;
		padding: 0;

		li > a, li > div {
			color: $ui-text-color;
			box-sizing: border-box;
			display: block;
			padding: 0.34em 1.0em 0.2em 0.5em;
			line-height: 1.8em;
			height: 100%;
			text-align: left;
			outline: none;
			text-decoration: none;
			transition: all .25s ease;
			-webkit-user-select: none;

			i {
				vertical-align: middle;
				font-size: 120%;
			}
		}

		li:hover > a,
		li:hover > div {
			background-color: $ui-text-background-hover !important;
			color: $ui-text-color-hover;
			cursor: pointer;
		}
	}
}

.my-scrollbar .my-notes {
	height: 100%;
	min-height: 10em;
}

.cell-container > .my-notes {
	padding: 0.2em 0 0;
	height: 3.5em
}

.my-notes.my-bookmarks {
	max-width: 85em;
	margin: 0 auto;

	.my-bookmark-separator {
		width: 100%;
		display: inline-block;

		.my-separator-date {
			display: none;
		}

		.favicon {
			width: 0.9em;
			height: 0.9em;
			margin-right: 0.5em;
		}

		.my-notes-note {
			h5.my-notes-note-title {
				display: block;
				padding-left: 0;
				height: 1.4em;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.my-notes-note-image {
				display: block;
				margin-top: 0;
				padding-left: 0;
				height: 14em;
				max-height: 14em;
				position: relative;

				@keyframes spin { 100% { transform: rotate(-360deg); } }

				.loading-bookmark {
					position: absolute;
					width: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0,0,0,0.5);
					color: #FFF;
					text-align: center;
					padding: 3.5em 0;

					i {
						font-size: 500%;
						animation: spin 4s linear infinite;
					}
				}
			}

			.my-notes-note-body {
				padding-left: 0;
				height: 1.4em;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.my-notes-note:hover {
			.my-notes-note-image img {
				opacity: 1.0;
			}
		}
	}
}

.w210 {
	.my-notes.my-bookmarks {
		.my-notes-note {
			min-height: 6.4em;

			h5.my-notes-note-title {
				height: auto;
				max-height: 4.2em;
				white-space: normal;
				padding-left: 6.8em;
				font-size: 85%;
			}

			.my-notes-note-image {
				width: 7em;
				height: auto;
				max-height: none;
				position: absolute;
				top: 0.5em;
				left: 0;
			}

			.my-notes-note-body {
				height: auto;
				max-height: 2.7em;
				white-space: normal;
				padding-left: 8.5em;
				word-break: break-all;
				font-size: 70%;
				opacity: 0.6;
			}
		}
	}
}

.w290 {
	.my-notes.my-bookmarks {
		.my-notes-note {
			min-height: 8em;

			h5.my-notes-note-title {
				height: auto;
				max-height: 5.7em;
				white-space: normal;
				padding-left: 8.5em;
				font-size: 100%;
			}

			.my-notes-note-image {
				width: 10em;
				height: auto;
				max-height: none;
				position: absolute;
				top: 0.5em;
				left: 0;
			}

			.my-notes-note-body {
				height: auto;
				max-height: 2.5em;
				white-space: normal;
				padding-left: 10.5em;
				word-break: break-all;
				opacity: 0.6;
			}
		}
	}
}