.noteBar{
	position: absolute;
	top: 0;
	right: 1.8em;
	left: 1.2em;
	height: 2em;
	z-index: 5;

	i.material-icons.faded {
		opacity: 0.4;
	}

	.properties-dialog, .table-dialog, .headings-dialog {
		background: $note-background-color;
		padding: 0.3em;
		border-radius: 0.3em;
		border: 1px solid $note-bar-text-color;
		cursor: default;
	}

	.headings-dialog {
		a {
			display: block;
			color: $note-bar-text-color;
			cursor: pointer;
		}

		a:hover {
			color: $note-text-color;
		}

		a.h {
			padding-left: 1.4em;
			max-width: 27em;
			border-bottom: 1px solid #eaeaea;
		}

		a.h:last-child {
			border-bottom: none;
		}

		a.hlvl2 {
			padding-left: 0.7em;
		}

		a.hlvl1 {
			padding-left: 0;
		}
	}

	.properties-dialog, .table-dialog {
		table {
			width: 100%;
			min-width: 14em;
			color: $note-bar-text-color;

			td.right {
				text-align: right;
			}
		}

		table.select-table-size {
			border: 1px solid $note-bar-text-color;
			opacity: 0.6;
			width: auto;
			min-width: 0;

			td {
				width: 0.5em;
				height: 0.5em;
				border: 1px solid $note-bar-text-color;
			}

			td.selected {
				background: $ui-text-background-hover;
			}

			td:hover {
				background: $ui-text-background-hover;
				cursor: pointer;
			}
		}
	}

	nav {
		display: block;
		margin: 0 auto;
		width: 100%;
		min-width: 16em;
		max-width: 69em;
		font-size: 110%;

		ul {
			padding: 0.5em 0 0;
			background: $note-background-color;

			li {
				height: 1.7em;

				> a, > div {
					padding: 0 0.5em;
					color: $note-bar-text-color;
				}

				hr {
					border: 1px solid $note-bar-text-color;
				}

				ul {
					padding: 0.4em 0;
					width: auto;
					border-radius: 0.3em;
					border: 1px solid $note-bar-text-color;

					li > a, li > div {
						border: none !important;
					}
				}
			}

			li > div span {
				display: block;
			}

			li:hover {
				> a, > div {
					background: $note-background-color !important;
					color: $note-text-color;
				}
			}
		}

		ul.transparent {
			background: transparent;
		}

		ul:after {
			clear: both;
			content: "";
			display: block;
		}
	}
}

.noteBar.footer {
	top: auto;
	bottom: -0.1em;

	nav {
		ul {
			font-size: 75%;
			padding: 0 0 0.6em;

			li > div {
				cursor: default;
			}
		}
	}
}