.noteBar{
	position: absolute;
	top: 0;
	right: 1.2em;
	left: 1.2em;
	height: 2em;
	z-index: 5;

	.properties-dialog{
		background: $note-background-color;
		padding: 0.3em;
		min-width: 14em;
		border-radius: 0.3em;
		border: 1px solid $ui-text-color;

		table {
			width: 100%;
			color: $ui-text-color;

			td.right {
				text-align: right;
			}
		}
	}

	nav {
		display: block;
		margin: 0 auto;
		width: 100%;
		min-width: 16em;
		max-width: 69em;
		font-size: 110%;

		ul {
			padding: 0.5em 0 0;
			background: $note-background-color;

			li {
				height: 1.7em;

				> a, > div {
					padding: 0 0.5em;
					color: $ui-text-color;
				}

				hr {
					border: 1px solid $ui-text-color;
				}

				ul {
					padding: 0.4em 0;
					width: auto;
					border-radius: 0.3em;
					border: 1px solid $ui-text-color;

					li > a, li > div {
						border: none !important;
					}
				}
			}

			li > div span {
				display: block;
			}

			li:hover {

				> a, > div {
					background: $note-background-color !important;
					color: $note-text-color;
				}
			}
		}

		ul:after {
			clear: both;
		    content: "";
		    display: block;
		}
	}
}
