.main-note-container {
	font-size: 100%;
	border-left: 2px solid $note-border-color;
	border-right: 2px solid $note-border-color;
	margin: 0 auto;
	width: auto;
	min-width: 15em;
	max-width: 75em;
	background-color: $note-background-color;
	color: $note-text-color;
	font-family: $main-font-family;
	line-height: 1.6em;
	font-style: normal;
	padding: 2.5em 0 1.8em;
}

.my-editor-preview {
	padding: 0.9em 6em 2.4em;
	height: calc( 100vh - #{ $title-bar-height * 2 } );
	background-color: $note-background-color;
	overflow-y: scroll;

	p, span {
		font-size: inherit;
	}
}

.my-editor > .codemirror-div {
	height: 100%;
}

.my-browser {
	padding: 0.9em 6em 1.4em;
	min-height: calc( 100vh - #{ $title-bar-border } - #{ $title-bar-height } );
	height: auto;
}

.CodeMirror {
	.CodeMirror-sizer > div {
		padding: 2em 6em;
	}
}

.CodeMirror span.cm-piled-header-1,
.my-editor-preview h1,
.my-editor-outline input.h1 {
	font-size: 180%;
	color: $note-header1-color;
	font-weight: 700;
	margin-top: 0.4em;
	line-height: 1.4em;
}

.CodeMirror span.cm-piled-header-2,
.my-editor-preview h2 {
	font-size: 160%;
	font-weight: 600;
	line-height: 1.4em;
}

.CodeMirror span.cm-piled-header-3,
.my-editor-preview h3 {
	font-size: 130%;
	line-height: 1.4em;
	font-weight: 600;
}

.CodeMirror span.cm-piled-strong,
.my-editor-preview strong {
	color: $note-bold-color;
	font-weight: 800;
}

form.new-metadata-form {
	input, select {
		width: 100%;
		max-width: 8em;
		min-width: 5em;
		height: 1.4em;
		background-color: #FFF;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #cacaca;
	}
}

@import 'codeMirror';
@import 'codePreview';
@import 'outline';
@import 'codeFontSize';
@import 'browser';