.my-splash-page {
	margin: 0 auto;
	width: auto;
	min-width: 15em;
	max-width: 70em;

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: calc( 100vh - 2px - #{ $title-bar-height } );
	}

	.splash-box {
		width: 80%;
		color: $splash-color;
		background: $splash-background;
		border-radius: $splash-border-radius;
		padding: 1em 1em 0.6em;

		.title {
			font-size: 150%;
			text-align: center;
		}

		hr {
			border: none;
			display: block;
			height: 0.2em;
			margin: 0.6em 0 0;
			background: $resize-panel-handler;
		}

		ul.list {
			list-style-type: none;
			padding: 0;
			margin: 0;

			i.material-icons {
				font-size: 140%;
				vertical-align: text-bottom;
				display: inline-block;
				margin-right: 0.3em;
			}

			i.material-icons.alone {
				margin-right: 0;
			}

			li {
				border-radius: $splash-border-radius;
				display: block;
				margin: 0.5em 0;
				padding: 1em;
				cursor: default;

				span {
					display: inline-block;
					margin-right: 0.8em;
				}
			}

			li:hover {
				background-color: $splash-hover-background;
				color: $splash-hover-color;
				cursor: pointer;
			}
		}

		ul.list.right {
			text-align: right;

			li {
				float: right;
			}
		}

		ul.list.right:after {
			clear: both;
		}
	}
}