.system-bar-spacing {
	background-color: #000;
	height: 2px;
}

.system-bar {
	background-color: #000;
	color: #EEE;
	width: 100%;
	height: calc( #{$system-bar-height} - 4px );

	align-items: center;
	display: flex;
	padding: 0 0.1em;
	margin: 0;
	font-size: 18px;
	font-weight: 500;

	-webkit-app-region: drag;

	.spacer {
		flex-grow: 1;
		padding-bottom: 0.3em;
		padding-left: 0.5em;

		span {
			font-weight: bold;
			color: #AAA;
		}

		span:last-child {
			color: #EEE;

			i {
				color: #AAA;
			}
		}

		i {
			font-size: 120%;
			vertical-align: middle;
			color: #AAA;
		}
	}

	.system-icon {
		margin-right: 4px;
		padding: 0 6px;
		height: calc( #{$system-bar-height} - 4px );

		align-items: center;
		display: inline-flex;
		justify-content: center;
		transition: .3s cubic-bezier(.25,.8,.25,1);
		vertical-align: middle;

		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		cursor: pointer;
	}

	.system-icon:last-child {
		margin-right: 0;
	}

	.system-icon:hover {
		background-color: #EEE;
		color: #000;
	}

	.system-icon.close-icon:hover {
		background-color: #FF0000;
		color: #FFF;
	}

	.system-icon.minimize .material-icons {
		padding-top: 0.5em;
	}

	.material-icons {
		font-size: inherit;
	}
}