.tabs-bar {
	height: $title-bar-height;

	> div {
		min-width: 15em;
		max-width: 75em;
		height: 100%;
		margin: 0 auto;
		font-size: 100%;
	}

	.tab {
		position: relative;
		z-index: 6;
		height: calc( #{ $title-bar-height } - 0.6em );
		opacity: 0.9;
		display: inline-block;
		text-align: left;
		min-width: 5em;
		max-width: 15em;
		padding: 0.5em 2.1em 0 0.5em;
		margin: 0.6em 0 0;
		border-bottom: 0;
		vertical-align: bottom;
		cursor: pointer;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		-webkit-user-select: none;
	}

	i {
		font-size: inherit;
		vertical-align: middle;
		display: inline-block;
		margin-top: -0.3em;
		font-size: 120%;
		opacity: 0.8;
	}

	i.close {
		position: absolute;
		top: 0.4em;
		right: 0.1em;
		padding: 0.4em 0.3em 0.4em;
		border-radius: 1em;
		opacity: 0.3;

		transition: opacity 200ms;
	}

	i.close:hover {
		opacity: 1.0;
	}

	.tab + .tab {
		margin-left: -2px;
	}

	.tab.selected {
		margin-bottom: -2px;
		margin-top: $tab-selected-margin;
		padding-top: 0.8em;
		height: #{ $title-bar-height - $tab-selected-margin };
		opacity: 1.0;

		i.close {
			top: 0.6em;
		}
	}
}

.tabs-open {
	.my-editor-preview {
		height: calc( 100vh - #{ $title-bar-height * 3 } - 0.5em );
	}
	.main-note-container {
		margin-top: 0;
	}
}