.title-bar-spacing {
	background-color: $resize-panel-handler;
	height: $title-bar-border;
}

.title-bar {
	background-color: $title-bar-background;
	color: $title-bar-color;
	width: 100%;
	height: calc( #{ $title-bar-height } - #{ $title-bar-border } );

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.1em;
	margin: 0;
	font-size: 14px;
	font-weight: 500;

	-webkit-app-region: drag;

	.material-icons {
		font-size: inherit;
	}

	.spacer {
		flex-basis: content;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		span {
			color: inherit;
		}

		i {
			font-size: 120%;
			vertical-align: middle;
		}
	}

	.spacer:first-child {
		min-width: 15em;
	}

	.spacer.right-align {
		margin-left: auto;

		> nav > ul:after {
			content: "";
			height: 1em;
			width: 1px;
			border-right: 2px solid $title-bar-color;
			margin: 0 0.7em;
			opacity: 0.3;
		}

		nav {
			-webkit-app-region: no-drag;
		}
	}

	nav {

		ul {
			-webkit-font-smoothing: antialiased;
			list-style: none;

			li {
				padding: 0 0.1em;
			}

			li > a, li > div, li > span {
				-webkit-app-region: no-drag;
				font-size: inherit;
			}

			li > a span {
				display: block;
			}
		}

		> ul {
			> li > a, > li > div, > li > span {
				padding-top: 0.8em;
				padding-bottom: 0.6em;
			}
		}

		> ul > li > .my-search {
			padding: 0;
		}
	}

	.address-bar {
		margin-left: 0.28em;
		background-color: $address-bar-background;
		color: $address-bar-color;
		border: 1px solid $app-border;
		border-radius: $address-bar-border-radius;
		padding: 0.3em 2em 0.3em 0.4em;

		span {
			font-weight: bold;
		}

		span:first-child > i.material-icons {
			margin-right: 0.2em;
			display: inline-block;
			vertical-align: middle;
			font-size: 120%;
		}
	}

	.spacer.system-icons {
		-webkit-app-region: no-drag;
	}

	.system-icon {
		margin-right: 0.2em;
		padding: 0.2em;
		height: $title-bar-height;

		align-items: center;
		display: inline-flex;
		justify-content: center;
		transition: .3s cubic-bezier(.25,.8,.25,1);
		vertical-align: middle;

		-webkit-user-select: none;
		cursor: pointer;

		i {
			width: 1em;
			height: 1em;
			padding: 0.3em 0.2em 0.2em;
			border-radius: 1em;
		}
	}

	.system-icon.minimize i {
		padding-top: 0.8em;
	}

	.system-icon.close-icon {
		margin-right: 0;
	}

	.system-icon:hover {
		color: $title-bar-color-hover;
	}

	.system-icon.close-icon:hover i {
		background-color: $title-bar-close-button;
		color: $title-bar-background;
	}

	.spacer.system-icons.darwin {
		order: -1;
		display: flex;

		.system-icon {
			border-radius: 100%;
			width: 1.1em;
			height: 1.1em;
			margin-right: 0.4em;
			margin-left: 0.4em;
			background-color: #44CA45;
		}
		i.material-icons {
			opacity: 0;
			background-color: transparent !important;
			color: #444 !important;
		}
		.system-icon:hover i.material-icons {
			opacity: 1.0;
		}
		.system-icon.close-icon {
			order: -1;
			padding-top: 0.3em;
			background-color: #F55D5C;
		}
		.system-icon.minimize {
			background-color: #F8BC3A;
		}
	}

	.spacer.right-align.darwin > nav > ul:after {
		display: none;
	}

	.my-dropdown-dd {
		-webkit-app-region: no-drag;
		z-index: 100;
	}
}

.title-bar.open-dropdown {
	-webkit-app-region: no-drag;
}