.title-bar-spacing {
	height: $title-bar-border;
}

.title-bar {
	width: 100%;
	height: calc( #{ $title-bar-height } - #{ $title-bar-border } );

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.1em;
	margin: 0;
	font-size: 14px;
	font-weight: 500;

	-webkit-app-region: drag;

	.material-icons {
		font-size: inherit;
	}

	.spacer {
		flex-basis: content;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		span {
			color: inherit;
		}

		i {
			font-size: 120%;
			vertical-align: middle;
		}

		.menu-icon {
			border-radius: 0.2em;
			padding: 0 0.5em;
			cursor: pointer;

			i {
				color: inherit;
				font-size: 260%;
				vertical-align: middle;
			}
		}
	}

	.spacer:first-child {
		width: 4.5em;
	}

	.spacer:nth-child(2) {
		width: 100%;
	}

	.spacer:last-child {
		width: 8em;
		padding: 0 0.2em;
	}

	.spacer.popup:last-child {
		width: 3em;
	}

	nav {

		ul {
			-webkit-font-smoothing: antialiased;
			-webkit-app-region: no-drag;
			list-style: none;

			li {
				padding: 0 0.1em;
			}

			li > a, li > div, li > span {
				font-size: inherit;
			}

			li > a span {
				display: block;
			}
		}

		> ul {
			height: calc( #{ $title-bar-height } - #{ $title-bar-border } );

			> li > a, > li > div, > li > span {
				padding-top: 0.8em;
				padding-bottom: 0.6em;
			}
		}
	}

	.address-bar {
		margin-left: 0.28em;
		padding: 0.3em 2em 0.3em 0.4em;
		text-align: center;

		span {
			font-weight: bold;
		}

		span:first-child > i {
			margin-right: 0.2em;
			display: inline-block;
			vertical-align: middle;
			font-size: 120%;
		}
	}

	.spacer.system-icons {
		-webkit-app-region: no-drag;
	}

	.system-icon {
		margin-right: 0.2em;
		padding: 0.2em;
		height: $title-bar-height;

		align-items: center;
		display: inline-flex;
		justify-content: center;
		transition: .3s cubic-bezier(.25,.8,.25,1);
		vertical-align: middle;

		-webkit-user-select: none;
		cursor: pointer;

		i {
			width: 1em;
			height: 1em;
			padding: 0.3em 0.2em 0.2em;
			border-radius: 1em;
		}
	}

	.system-icon.minimize i {
		padding-top: 0.8em;
	}

	.system-icon.close-icon {
		margin-right: 0;
	}

	.spacer.system-icons.darwin {
		order: -1;
		display: flex;

		.system-icon {
			border-radius: 100%;
			width: 1.1em;
			height: 1.1em;
			margin-right: 0.4em;
			margin-left: 0.4em;
			background-color: #44CA45;
		}
		i {
			opacity: 0;
			background-color: transparent !important;
			color: #444 !important;
		}
		.system-icon:hover i {
			opacity: 1.0;
		}
		.system-icon.close-icon {
			order: -1;
			padding-top: 0.3em;
			background-color: #F55D5C;
		}
		.system-icon.minimize {
			background-color: #F8BC3A;
		}
	}

	.spacer.right-align.darwin > nav > ul:after {
		display: none;
	}

	.my-dropdown-dd {
		-webkit-app-region: no-drag;
		z-index: 100;
	}
}