$main-font-size: 14px;
$main-font-family: "Roboto";
$title-bar-height: 2.5em;
$system-bar-height: 30px;

$body-background-note: #dedede;
$note-background-color: #fefefe;
$note-border-color: #ababab;
$note-text-color: #333;
$note-header1-color: #3f51b5;
$note-bold-color: #000;
$note-bar-text-color: #7a7a7b;
$note-checkbox-selected: #BBBBBB;

/* original theme */
$body-background-color: #dedede;
$main-background-color: linear-gradient(#50A6B3, #619C9C);
$ui-text-color: #dadada;
$ui-text-color-hover: #FFF;
$ui-text-color-dim: #d4d4d4;
$ui-text-background-hover: #5fbdc1;
$ui-text-color-selected: #FFF;
$ui-text-background-selected: #73cab5;
$resize-panel-handler: #4a7d7d;
$note-separator-line: #d4d4d4;
$note-list-background: #dedede;
$note-list-background-hover: #cccccc;
$note-list-background-selected: #FFF;
$note-list-text-color: #333;
$note-list-text-color-hover: #000;
$note-list-text-color-selected: $note-list-text-color-hover;
$note-list-body-color: #636363;
$note-list-body-color-selected: $note-list-body-color;
$note-list-border-radius: 0.2em;
$folder-list-border-radius: 0;
$folder-dragdrop-separator: #62c8f3;
$folder-badge-background: #528686;
$folder-badge-color: #dcebec;
$scrollbar-track-background: rgba(255, 255, 255, 0.1);
$scrollbar-thumb: #333;
$scrollbar-thumb-border: #444;
$title-bar-background: #4a7d7d;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic, oblique;
	src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}

html {
	border: 1px solid $title-bar-background;
}

body.original-theme {
	margin: 0;
	padding: 0;
	font-family: $main-font-family;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: $body-background-color;
}

html, body, h1, h2, h3, h4, h5, p, span, input {
	font-size: $main-font-size;
	font-family: $main-font-family;
}

@import 'materialIcons';
@import 'highlight';

body.original-theme {
	@import 'elements/body';
	@import 'elements/scrollbar';
	@import 'elements/systemBar';
	@import 'elements/titleBar';
	@import 'elements/noteBar';
	@import 'elements/openNote';
	@import 'elements/splashPage';
	@import 'elements/notesList';
	@import 'elements/foldersList';
	@import 'elements/flashMessage';
	@import 'elements/modal';
}

div, input, svg {
	box-sizing: border-box;
}