$main-font-size: 14px;
$main-font-family: "Roboto";

$app-border: #22252c;
$resize-panel-handler: #2e323c;

$body-background-color: #f5f6f7;
$main-background-color: #404552;

/* title bar */
$title-bar-height: 3em;
$title-bar-border: 1px;
$title-bar-background: #303641;
$title-bar-color: #90949b;
$title-bar-color-hover: #b0b9c6;
$title-bar-close-button: #cc575d;

$address-bar-color: #7e8383;
$address-bar-background: #414a59;
$address-bar-background: #414a59;
$address-bar-border-radius: 0.2em;

/* action bar */
$action-bar-height: 2em;
$action-bar-background: #373d48;
$action-bar-color: #7e8383;
$action-bar-submenu-background: #383c4a;

/* sidebar */
$sidebar-background: #373d48;
$sidebar-color: #949ba6;

/* splash */
$splash-background: #FFFFFF;
$splash-border-radius: 0.2em;
$splash-color: #949ba6;
$splash-hover-color: #ffffff;
$splash-hover-background: #445e7d;
$splash-hr: #949ba6;

/* folder */

$folder-list-border-radius: 0.2em;
$folder-hover-background: #445e7d;
$folder-selected-background: #5294e2;
$folder-selected-color: #ffffff;
$folder-dragdrop-separator: #5294e2;
$folder-badge-background: #2e323c;
$folder-badge-color: #adacac;
$folder-separator: #4b535d;

/* notes list */
$note-list-border-radius: 0.2em;
$note-list-background: #dadfe5;
$note-list-background-hover: #FFFFFF;
$note-list-background-selected: #FFFFFF;
$note-list-text-color: #8d9196;
$note-list-text-color-hover: #5c616c;
$note-list-text-color-selected: #5c616c;
$note-list-body-color: #8d9196;
$note-list-body-color-selected: #5c616c;
$note-separator-line: #36393e;

/* note */
$body-background-note: #f5f6f7;
$note-background-color: #ffffff;

$note-border-color: #ababab;
$note-text-color: #333;
$note-header1-color: #3f51b5;
$note-bold-color: #000;
$note-bar-text-color: #7a7a7b;
$note-checkbox-selected: #BBBBBB;

/* light theme */
$ui-text-color: #7a7a7b;
$ui-text-color-hover: #b9bbbe;
$ui-text-color-dim: #848487;
$ui-text-background-hover: #36393f;
$ui-text-color-selected: #ffffff;
$ui-text-background-selected: #42464d;
$scrollbar-track-background: rgba(255, 255, 255, 0.1);
$scrollbar-thumb: #333;
$scrollbar-thumb-border: #444;

body.light-theme {
	margin: 0;
	padding: 0;
	font-family: $main-font-family;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: $body-background-color;
}

body.light-theme {
	@import 'elements/body';
	@import 'elements/scrollbar';
	@import 'elements/titleBar';
	@import 'elements/actionBar';
	@import 'elements/noteBar';
	@import 'elements/openNote';
	@import 'elements/splashPage';
	@import 'elements/notesList';
	@import 'elements/foldersList';
	@import 'elements/flashMessage';
	@import 'elements/modal';
}