$main-font-size: 14px;
$main-font-family: "Roboto";
$main-background-color: #363e48;
$ui-text-color: #b9b9b9;
$ui-text-color-hover: #adacac;
$ui-text-color-dim: #848487;
$ui-text-background-hover: #1d242c;
$ui-text-borderTop-hover: #171c23;
$ui-text-borderBottom-hover: #313842;
$title-border-bottom: 2px;
$resize-panel-handler: #404040;
$note-separator-line: #242c36;
$note-list-body-color: #858585;
$note-background-color: #fefefe;
$note-border-color: #ababab;
$note-text-color: #333;
$note-header1-color: #3f51b5;
$note-bold-color: #000;
$folder-dragdrop-separator: #62c8f3;
$folder-badge-background: #212023;
$folder-badge-color: #adacac;

$scrollbar-track-background: rgba(255, 255, 255, 0.1);
$scrollbar-thumb: #333;
$scrollbar-thumb-border: #555;

$title-bar-height: 2.5em;
$system-bar-height: 30px;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic, oblique;
	src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}

@import 'materialIcons';
@import 'highlight';
@import 'elements/body';
@import 'elements/scrollbar';
@import 'elements/systemBar';
@import 'elements/titleBar';
@import 'elements/openNote';
@import 'elements/notesList';
@import 'elements/foldersList';
@import 'elements/flashMessage';

div {
	box-sizing: border-box;
}
